{% extends 'base.html' %}

{% block content %}

<div class="row">
    {% for item in itemsList  %}
    
    <div class="col-sm"><div class="card" style="width:450px;height:auto;margin:15px;">
        <img style='height:250px' class="card-img-top" src="{{item.image.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <hr>  
          <p class="card-text">{{item.information}}</p>
          <a href="{% url 'add-item' item.id %}" class="btn btn-dark">add</a>  <a href="#" class="btn btn-dark"> view</a>
        </div>
      </div></div>
    {% endfor %}

  </div>
  

  </div>




{% endblock content %}
